{% extends 'layout_home.html.twig' %}

{% block header %}
{{ parent() }}
{% endblock header %}

{% block body %}
	{{ parent() }}
    <div class="container welcom">
        <h2 class="text-center">
            {{ 'Bienvenido'|trans }}
            {% if app.user.role == 'ROLE_ADMIN' %}
            {{ 'Administrador'|trans }}
            {% elseif app.user.role == 'ROLE_USER' %}
            {{ 'Usuario'|trans }}
            {% endif %}
            :
            {{ app.user.username }}
        </h2>
        
    </div>
{% endblock %}