{% extends 'layout_viewuser.html.twig' %}
{% block body %}
	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">{{ 'Mis Tareas'|trans }}</h2>
			</div>
			<div class="table-responsive">  
                <table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
                            <th>{{'Titulo'|trans}}</th>
                            <th>{{'Descripción'|trans}}</th>
                            <th>{{'Usuario'|trans}}</th>
                            <th>{{'Creado'|trans}}</th>
                            <th>{{'Modificado'|trans}}</th>
						</tr>
					</thead>
					<tbody>
                        {% for task in mytask  %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.description}}</td>
                                <td>{{ task.userid }}</td>
                                <td>{{ task.created_at|date("d-m-y H:i") }}</td>
                                <td>{{ task.updated_at|date("d-m-y H:i") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody> 
				</table>
			</div>
		</div>
	</div>	
{% endblock %}