<nav class="navbar navbar-expand-lg navbar-light bg-white">
  {% if app.user.role == 'ROLE_ADMIN' %}
    <div class="container-fluid">
      <div class="logo-image">
        <img src="{{ asset('public/css/Images/logo.png') }}" />
      </div>
      <a class="navbar-brand" href="{{ path('test_twig') }}">OrzaezPintor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'Usuarios'|trans}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ path('test_twig') }}">{{'Mostrar usuarios'|trans}}</a></li>
              <li><a class="dropdown-item" href="{{ path('test_add') }}">{{'Crear usuario'|trans}}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'Tareas'|trans}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ path('test_createtask') }}">{{'Crear tarea'|trans}}</a></li>
              <li><a class="dropdown-item" href="{{ path('test_viewtask') }}">{{'Ver todas las tareas'|trans}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    {% elseif app.user.role == 'ROLE_USER' %}
      <div class="logo-image">
        <img src="{{ asset('public/css/Images/logo.png') }}" />
      </div>
    <a class="navbar-brand" href="{{ path('test_user_homepage') }}">OrzaezPintor</a>
    <div>
      <a class="dropdown-item" href="{{ path('test_mytask') }}">{{'Ver todas las tareas'|trans}}</a>
    </div>
  {% endif %}
</nav>