{% extends 'layout_form_createuser.html.twig' %}

{% block header %}
{{ parent() }}
{% endblock header %}

{% block body %}
<div class="body">
    <div class="main-block">
        <div class="title">
            <h3>{{'Crear usuario'|trans}}</h3>
        </div>
        {# FORMULARIO #}
        <div class="form-group">
            <form id="form">
                <hr>
                <div class="col-sm-12">
                    <div>
                        <input id="username" name="username" type="text" class="field" placeholder={{'Usuario'|trans}}><br>
                        <input id="first_name" name="first_name" type="text" class="field" placeholder={{'Nombre'|trans}}><br>
                        <input id="last_name" name="last_name" type="text" class="field" placeholder={{'Apellido'|trans}}><br>
                        <input id="email" name="email" type="email" class="field" placeholder={{'Correo electronico'|trans}}><br>
                        <input id="password" name="password" type="password" class="field" placeholder={{'Contraseña'|trans}}>
                    </div>
                    <hr class="circulo">
                    <div class="col-sm-6 circulo">
                        <input value="ROLE_ADMIN" type="radio" id="admin" name="role" checked>
                        <label for="admin">{{ 'Administrador'|trans }}</label>
                    </div>
                    <div class="col-sm-6 circulo">
                        <input value="ROLE_USER" type="radio" id="user" name="role" checked>
                        <label for="user">{{'Usuario'|trans }}</label>
                    </div>
                    <hr>
                    <div id="btn" class="btn-lg btn-block btn-primary text-center" type="submit">{{'Aceptar'|trans}}</div>
        
            </form>
        </div>
    </div>
</div>
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {
        $("#btn").on("click", function () {
            var resultFilters = filters();// variable que tiene el valor de la funcion filters()
            //si la variable resultFilters es true
            if (resultFilters[0] == true){
                createUserAjax();
            }else{
                Swal.fire({
                    title: resultFilters[1],
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Vale'
                })
            }
            
        });
        //FUNCION CON TODOS LOS FILTROS
        function filters(){
            var emptybox;
            $("#form input").each(function () {
                if ($(this).val() == "") {
                    emptybox = true;
                }
            })
            
            //Filtro para los campos vacios 
            if (emptybox) {
                return [false, '¡¡Te has dejado campos vacios!!'];
            }

            //Filtro para el username que sea en minusculas
            if ( $("#username").val() != $("#username").val().toLowerCase() ){
                return [false, 'El usuario solo puede contener letras minusculas'];
            }

            //Filtro para el nombre y apellido
            let first_name = $("#first_name").val().toLowerCase();
            first_name = first_name.charAt(0).toUpperCase() + first_name.slice(1);
            if ( $("#first_name").val() != first_name){
                return [false, 'La primera letra debe de ser mayusculas'];
            }
            return [true, ""];
        }
        function createUserAjax() {
            $.ajax({
                url: "{{ path('test_create') }}",
                data:
                   $('#form').serialize(),
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.status==true){
                        swal.fire(
                            '!Buen trabajo!',
                            'El usuario se ha creado correctamente',
                            'success'
                        );
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }else{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message
                          })

                    }
                    
                    /* $("#message").empty();
                    $("#message").append(data.html);
                    $("#message").show().delay(4000).fadeOut(); */
                },
                error: function () {
                    $("#message").empty();
                    $("#message").append(data.html);
                    $("#message").show().delay(4000).fadeOut();
                },
            });
        }
    });
</script>

{% endblock %}