{% extends 'layout_viewuser.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container-fluid"> 
    <div class="col-md-12">
        <div class="title">
            <h2>Users list</h2>
        </div>
        <div class="table-responsive table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Is_active</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>    
                <tbody>
                    {% for User in users  %}
                        <tr>
                            <td>{{ User.id }}</td>
                            <td>{{ User.username }}</td>
                            <td>{{ User.getFirstName()}}</td>
                            <td>{{ User.lastname }}</td>
                            <td>{{ User.email }}</td>
                            <td>{{ User.password }}</td>
                            <!-- <td>{{ User.role }}</td> -->
                            <td>
                                {% if User.role == 'ROLE_ADMIN' %}
                                    <strong>Administrator</strong>
                                {% elseif User.role == 'ROLE_USER' %}
                                    <strong>Usuario basico</strong>
                                {% endif %}
                            </td>
                        
                            <td>{{ User.getIsActive() }}</td>
                            <td>{{ User.getCreatedAt()|date("d-m-y H:i") }}</td>
                            <td>{{ User.getUpdatedAt()|date("d-m-y H:i") }}</td>
                            <td>
                                <a data-id="{{ User.id }}" id="delete" href="#" class="btn btn-danger btn-delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
</div>
{% endblock body %}
{% block javascripts  %}
{{ parent() }}

<script>
    $(document).ready(function () {
        $(".btn-delete").on("click", function () {
            var id=$(this).data("id");
            console.log(id);
            deleteuserAjax(id);
        });

        function deleteuserAjax(id){
            $.ajax({
                url: "{{ path('test_delete') }}",
                data: {
                    id:id
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log("success");
                    console.log (data);
                    if (data.status){
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: 'btn btn-success',
                              cancelButton: 'btn btn-danger'
                            },
                            buttonsStyling: false
                          })
                          swalWithBootstrapButtons.fire({
                            title: '¿Quiere eliminar el usuario?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: `Eliminar`,
                            cancelButtonText: 'No, cancel!',
                          }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                              Swal.fire({
                                  position: 'center',
                                  icon: 'success',
                                  title: 'Usuario eliminado correctamente.',
                                  showConfirmButton: false,
                                  timer: 2000
                                })
                            } else if (result.isDenied) {
                              Swal.fire('Este usuario sigue vivo', '', 'info')
                            }
                          })
                        
                    }
                    else{
                        alert("error");
                        alert(data.msg);
                    }

                    /*$("#message").empty();
                    $("#message").append(data.html);
                    $("#message").show().delay(4000).fadeOut();
                    */
                },

                error: function (error) {
                    console.log("error");
                    console.log (error);
                    /*$("#message").empty();
                    $("#message").append(data.html);
                    $("#message").show().delay(4000).fadeOut();*/
                },
            });
        }
    });
</script>
{% endblock javascripts %}