{% extends 'layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="col-sm-12 flex-wrap"> 
        <div class="col-md-12">
            <div class="title">
                <h2>Users list</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>password</th>
                            <th>Role</th>
                            <th>Is_active</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Actions</th>
                            <th>ID</th>
                        </tr>
                    </thead>    
                    <tbody>
                    {% for usu in users  %}
                    <tr>
                            <td>{{ usu.id }}</td>
                            <td>{{ usu.username }}</td>
                            <td>{{ usu.getFirstName()}}</td>
                            <td>{{ usu.lastname }}</td>
                            <td>{{ usu.email }}</td>
                            <td>{{ usu.password }}</td>
                            <!-- <td>{{ usu.role }}</td> -->
                            <td>
                                {% if usu.role == 'ADMIN' %}
                                    <strong>Administrator</strong>
                                {% elseif usu.role == 'USER' %}
                                    <strong>Usuario_basico</strong>
                                {% endif %}
                            </td>
                           
                            <td>{{ usu.getIsActive() }}</td>
                            <td>{{ usu.getCreatedAt()|date("d-m-y H:i") }}</td>
                            <td>{{ usu.getUpdatedAt()|date("d-m-y H:i") }}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-info">View</a>
                                <a href="#" class="btn btn-sm btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger btn-delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}